.explorer__search {

  margin: 0 auto;
  overflow: auto;

  &__header-container {
    background-color: #FFF;
    font-size: 24px;
    text-align: center;
  }

  &__body-container {
    background-color: #F1F1F1;
    padding-top: 1em;

    &.hidden {
      display: none;
    }
  }

  &__result-container, &__page-container, &__message-container {
    max-width: 917px;
    margin: 0 auto;
  }

  &__page-container {
    text-align: center;
  }
}
