@import "./Select.scss";

.explorer__form-container {
  background-color: #FFF;
  width: 100%;
}

.explorer__form {
  font-size: 14px;
  margin: 0 auto;
  position: relative;
  max-width: 917px;

  fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
  }

  &__btn {
    appearance: none;
    background-color: #5377af;
    border: 1px solid #5377af;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
    float: right;
    font-size: 1em;
    outline: none;
    padding: 7px 12px;

    &--reset[type="reset"] {
      background-color: #999;
      border: 1px solid #999;
      line-height: inherit;
      height: auto;
      width: auto;
      margin-right: 5px;

      &:hover, &:focus {
        background-color: #DDD;
        border: 1px solid #333;
        color: #333;
      }
    }

    &--submit[type="submit"] {
      appearance: none;
      background-color: #5377af;
      background: #5377af;
      border: 1px solid #5377af;
      border-radius: 4px;
      color: #FFF;
      cursor: pointer;
      float: right;
      font-size: 1em;
      margin: 0;
      outline: none;
      padding: 7px 12px;
      line-height: inherit;
      height: auto;
      width: auto;

      &:active {
        border: 1px solid #000;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
      }

      &:hover, &:focus {
        background-color: #c9d9f1;
        border: 1px solid #5377af;
        color: #104392;
      }
    }
  }

  &__group {
    clear: both;
    padding: 10px;
    width: 100%;

    label {
      color: #000;
      font-size: 1.17em;
      margin-bottom: 0px;
      zoom: 1;
    }

    p {
      font-size: 11px;
      margin: 0;
      margin-top: -2px;
    }
  }

  &__label-container {
    display: inline-block;
    float: left;
    height: 42px;
    min-width: 130px;
    vertical-align: middle;
    width: 20%;

    label {
      display: table-cell;
      height: 40px;
      vertical-align: middle;
    }
  }

  &__input-container {
    float: left;
    width: 80%;
  }

  &__input {
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
  }
}
