@import "./Select.scss";

.explorer__form-container {
  background-color: #FFF;
  width: 100%;
}

.explorer__form {
  font-size: 14px;
  margin: 0 auto;
  position: relative;
  max-width: 917px;

  fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
  }

  &__submit {
    appearance: none;
    background-color: #5377af;
    border: 1px solid #5377af;
    border-radius: 4px;
    color: #FFF;
    float: right;
    font-size: 1em;
    outline: none;
    padding: 7px 12px;

    &:active {
      border: 1px solid #000;
      box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
    }
  }

  &__group {
    clear: both;
    padding: 10px;
    width: 100%;

    label {
      color: #000;
      font-size: 1.17em;
      margin-bottom: 0px;
      zoom: 1;
    }

    p {
      font-size: 11px;
      margin: 0;
      margin-top: -2px;
    }
  }

  &__label-container {
    display: inline-block;
    float: left;
    height: 42px;
    min-width: 130px;
    vertical-align: middle;
    width: 20%;

    label {
      display: table-cell;
      height: 40px;
      vertical-align: middle;
    }
  }

  &__input-container {
    float: left;
    width: 80%;
  }

  &__input {
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
  }
}
