.explorer__page {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__item {
    color: #226daf;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    margin-right: 5px;
    padding: .5em 1em;
    text-decoration: none;

    &.disabled {
      cursor: not-allowed;
      opacity: .4;
    }

    &--mist {
      color: #999;
      cursor: default;
    }

    &:hover {
      background-color: #FFF;
    }
  }

}
